* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.container {
  width: 600px;
  margin: 200px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  .item, .footer {
    display: flex;
    justify-content: space-between;
    input {
      vertical-align: middle;
      margin-right: 10px;
    }
    .btn {
      background: #D94D49;
      color: #fff;
      border: none;
      padding: 2px 5px;
    }
  }
}
